/* Application styles could go here */
/**
 * Colors: 
 * Bllue: 456889
 */
/* Import Fonts CSS */ 

@import url("syr-font-families.css");

/* Main content blocks */
body {font-family: arial, sans-serif; background-color:#385978;}
#main { padding: 0; background-color:#999; }
#content{background-color:white; padding-top: 50px;}

/* Removed extra padding introduced by Bootstrap for rows. Was causing issues with background images */
.row { margin-left: 0px; margin-right: 0px;}
.container{width:95%; padding:0;}

/* Adds a little extra padding around interior content, useful when for when nav wraps. */
.interior-content {padding:0; padding-top: 50px;}
.full-page {margin-top:0;}

/* Navbar styles*/
.navbar {border-bottom:4px solid #456889 !important;}
.navbar-inner {border-bottom:.5em solid #456889 !important;}
.navbar-inner .container{height: 45px !important; padding-top:.5em; margin-left:.5em;}
.navbar-brand {margin-top:-.75em; padding-left:0; margin-left:0; margin-right:-2em;}
.navbar-brand img {padding:0; margin:0; }

.brand {margin-top:-.75em; margin-left:40px;padding-left:0;}
.brand img {margin-left:1.5em;padding-left:0;}

.navbar-inner .nav > li > a:hover, .advanced-search > a:hover {
        border-bottom: 4px solid #DDEAF1 !important;  
}
.navbar-inner > .container > .nav > li.selected {border-bottom: 4px solid #E69849 !important; }
.advanced-search > a {color:#999; text-decoration:none;}

.navbar .advanced-search{margin-top:-.5em;}
.navbar-form {overflow:hidden;}
.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}
.navbar-form{max-width: 250px;}

/* Nav submenus*/
.dropdown-submenu {position: relative;}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

/* Nav bar icons for submodules */
.dropdown-menu li a{margin-left:.5em;}

/* Used for dropdowns next to syriaca.org icon, so both icon and caret are "clickable" */
.lonely-caret {margin-left:-2em; padding-left:0;}

.nav-icons {
    background-position: left center;
    background-repeat: no-repeat;
    text-indent:14px;
}

.sub-menu .nav-icons{margin-left:2em;}

.icon-container {display:inline-block; line-height:1.5em;}
.icon-nav {font-size:1.75em; display:inline-block; margin-right:.15em;}
.icon-text {display:inline-block; margin-top:-.85em; vertical-align: middle;}

.banner-container {display:inline-block; line-height:2.5em;}
.banner-icon {font-size:2.5em; display:inline-block; margin-right:.15em;}
/*
 * font-family: Tahoma, Geneva, sans-serif;
 * 
 */
.banner-text {color: #888; display:inline-block; margin-top:-.95em; vertical-align: middle; letter-spacing: -1px; font:1.35em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;}
/* Small Syrica.org icons for submodules in nav menus */
.geo-sm-icon {background-image: url(../img/icons-geo-sm.png);}
.saints-sm-icon {background-image: url(../img/icons-saints-sm.png);}
.persons-sm-icon {background-image: url(../img/icons-persons-sm.png);}
.authors-sm-icon {background-image: url(../img/icons-authors-sm.png);}
.spear-sm-icon {background-image: url(../img/icons-spear-sm.png);}
.mss-sm-icon {background-image: url(../img/icons-mss-sm.png);}
.bhse-sm-icon {background-image: url(../img/icons-bhse-sm.png);}
.nhsl-sm-icon {background-image: url(../img/icons-nhsl-sm.png);}
.q-sm-icon {background-image: url(../img/icons-q-sm.png);}
.syriaca-sm-icon {background-image: url(../img/icons-syriaca-sm.png);}
.rec-status {display:block; width:100% !important; margin-bottom:1em; padding:1em;}
.info-btns {width:100%; margin-bottom:1em;}
/* Banner styles index page (Colors and images are set by internal css for submodules) */
.banner-index {
    position:relative;
    margin-top:0;
    padding-top:0;
	background-image:url('../img/resafa_arch.jpg');
	background-size:cover;
	background-position:center;
	height:200px;
    width:100%;
}
/* styles used for index2 example*/
.banner-index2 {
    position:relative;
    margin-top:-1em;
    padding-top:0;
	background-image:url('../img/home-banner.jpg');
	background-size:cover;
	background-position:center;
    height:350px;
    width:100%;
}

/* Bibl banner*/
.banner-bibl {
    position:relative;
    margin-top:-1em;
    padding-top:0;
	background-image:url('../img/bibl-banner.png');
	background-size:cover;
	background-position:top;
    height:250px;
    width:100%;
    border-bottom:4px solid #456889;
}

/* styles used for index2 example*/
.info-overlay {
    position:absolute;
    display:block; 
    width:70%;
    min-height:45%;
    margin:4% 15%;
}
/* styles used for index2 example*/    
.overlay {
    font-weight:200;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.65);
    color: white; 
    display: inline;
    padding: 1.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* Banner styles banner internal pages */
.banner-interior {
    position:relative;
    padding-top:0;
    border-bottom:4px solid #456889;
	background-image:url('../img/resafa_arch.jpg');
	background-size:cover;
	background-position:center;
	height:150px;
    width:100%;
    overflow-x: hidden; 
} 

/* Image citation styles */
.img-credit{
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align:right;
    font-size: smaller;
    font-weight:200;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.55);
    color: white; 
    display: inline;
    padding: 0.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* Transparent styles for search box on home pages */
.transparent-input{
       color: white;
       background-color: rgba(245, 245, 245, 0.2);
       border:3px solid white !important;
    }
.transparent-input::-webkit-input-placeholder { color: white; font-size:large;font-weight:500; }
.transparent-input:-moz-placeholder { color: white; font-size:large;font-weight:500; }
.transparent-input::-moz-placeholder { color: white; font-size:large;font-weight:500; }
.transparent-input:-ms-input-placeholder { color: white; font-size:large;font-weight:500; }
/* Footer styles */
footer {text-align:center; color:white;}

/* Simple background color styles */
.grey {background-color:#eee;}
.grey-dark {background-color:#ccc;}
.white {background-color:white;}
.content-block {background-color:#ffffff !important;}
.top-padding {margin-top:2em;}
.block {display:block;}
.banner {font-size: 24px; color:white; background-color:#456889; margin:0 0 1em 0; padding:.5em 1em;; border-bottom:4px solid #456889;}
/* Typography */
h1 {font-size:1.5em; margin:.25em 0 .25em 0; color:#456889; font-weight:500;}

h2 {font-size: 1.25em; margin:1em 0 .25em 0; padding-bottom:0; color:#999; font-weight:500;}
h3 {font-size: 1.2em; margin:1em 0 .25em 0; padding-bottom:0; color:#333; font-weight:500;  padding-bottom:0; margin-bottom:1em;}
h3.banner-solid {color:white;}
h3.underline {color:#999; border-bottom:3px solid #456889; padding-bottom:-.75em; margin-bottom:1em; margin-top:0;}
h4 {font-size: 1em; margin:0 0 .25em 0; padding-bottom:0; font-weight:bold;}
h3.label {
    background-color:#ccc;
    line-height: 1.2em;
    font-size: 2em;
    float:left;
}
h3.syr{
    margin-right:.75em;
    margin-top:.5em;
    float:right !important;
}
h4 {font-size: 1em; margin-top:1em;}

.hi {background-color:yellow;}

.white-link{color:white;}

.white-link:focus, .white-link:active:focus, .white-link.active:focus {
    outline: 0 none;
    color:white;
}

.transparent {
    /* default fallback */
    background: rgb(255, 255, 255) transparent;
    /* nice browsers */
    background: rgba(255, 255, 255, 0.8);
    
}
/* Table styles*/
table {width:98% !important;border-collapse:collapse; font-size:1em; margin-top:1.5em;}
th {
    vertical-align:top;
    padding-bottom:.25em;
    padding-top:.25em;
    padding-left:.5em;
    padding-right:.5em;
}
td {
    vertical-align:top;
    padding-bottom:.75em;
    padding-top:.75em;
    padding-left:.5em;
    padding-right:1.25em;
}

/* Lables */
.get-syriac {font-size:.55em; margin-left:1em;vertical-align:super;font-weight:normal; color: rgb(0,136,204);display:none}
.srp-label {background-color:none; color:#666; font-weight:500;}
.sort-title {background-color:none; color:#666; font-weight:500; display:block; }
.textBox {display:block;}
.caveat {font-size: .785em; font-style:italic; margin-top:-.5em; padding-top:0;}
.title {border-bottom:2px solid #666666;margin-bottom:1em; margin-top:0;padding:0;}
.about {padding-top: .5em; border-bottom:2px solid #666666;margin-bottom:1em;}
.caption{text-align:center; font-size:.75em;color:grey;}
.funding {margin:1em;}
.no-logo {font-size:1.25em; font-weight:600; font-family:serif; color:#333; margin:1em;}
.label, .badge {white-space: normal;}
.about-tables td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; 
}
.well-white {background-color:white;}
.section {background-color:white; margin:0 2em;}
.left-padding{padding-left:1em;}
.top-padding{padding-top:1em;}
.right-padding{padding-right:1em;}
.bottom-padding{padding-bottom:1em;}
.indent{padding-left:1em;}
/*.section ul {padding-left:0;}*/
.section.type ul {padding-left:0;}

/* Browse page styles */
.syr-list{padding-right:7em; padding-top:2em; text-align: right;}
.en-list{padding-left:5em; padding-top:2em;}

.alpha-pages {margin-top:-1.85em;}
.browse-alpha {border-bottom:1px solid #ccc; padding-left:1em; padding:0; margin-bottom:1em; text-align: justify;}

.browse-alpha li + li {
    padding-left: 1em;
}

.browse-alpha li.syr-menu + li.syr-menu {
    padding-left: .5em;
}
.browse-alpha li.ar-menu + li.ar-menu {
    padding-left: .15em;
}
.nav-stacked > .active > a,
    .nav-stacked > .active > a:hover {
      color: #000;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background-color: #eee;
      cursor: pointer;
    }
    
#map {height:325px !important;;}
.browse-map {margin:0;}
.inline-map {margin-left:-2em; margin-bottom:1em;}
.map-lg #map {height:500px !important;}
.map-md #map {height:300px !important;}
.map-sm #map {height:250px !important;} 

.results-list {margin-left: 25px; border-bottom:1px dotted #eee; padding-top:.5em}
.results-list-desc{display:block;}
.pers-label {background-color:#999; font-weight:400; margin-right:4px;}
.results-list-desc .pers-label .footnote-refs,.results-list .footnote-refs, .relation .footnote-refs {display:none; visability:hidden;}

/* Browse tabs and side menues */  	
.tab-pane {
	padding: 1em;
	padding-top: 1.5em;
	border-left: 1px solid rgb(221, 221, 221);
	border-bottom: 1px solid rgb(221, 221, 221);
	border-right: 1px solid rgb(221, 221, 221);
	border-radius: 3px;
}

.tab-pane ul {
	margin-left: 1em;
	margin-right: 1em;
}

.nav-tabs li.active {font-size:1.25em;}
.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
/*Fix to remove space between li's*/
.nav-tabs.nav-stacked>li+li {
    margin-top: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}

.type-content {padding:1em;}
.type-nav {width: 85%;}


/* Styles for record short view under relation div*/
.relation {white-space: normal;}
.relation .results-list-desc.uri{margin-left:0; }

/* footnote styles */
.footnote-refs, .footnote-tgt {
    font-size: .7em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;

}
.footnote-tgt {
    margin-left:-1.5em;
    padding-right:.5em;    
}

/*.footnote-links {float:right; overflow:hidden; clear:right;}*/
.footnote-icon {padding-left:.5em; font-size:12px;}
.bibl li{line-height: 1.5em;padding-bottom:.5em;}
.bibl-links {padding:.25em; width:25px;}
.anchor { 
    position: relative; 
    top:-75px !important;
    visibility: hidden; 
    }
    
.anchor:before {
  content:"";
  float: left;
  height: 0px;
}

.heading-inline {
	font-weight: bold;
}


/* Subject headings */
.sh {margin-right:.5em; margin-bottom: .5em; line-height:14px; font-weight:normal;}
.sh-search {text-decoration:none; color:white; margin-left:.5em;}
.sh .placeName, .sh .pers-label {font-weight:normal; }

.sh .footnote-refs{display:none;}

/* styles for languages and scripts */
:lang(en) {
	font-family: arial, sans-serif;
}

:lang(syr),:lang(syc) {
 font-family: "EstrangeloEdessa", "Estrangelo Edessa", Verdana, Arial, Helvetica, sans-serif;
  /*font-size:large;*/
  font-size:1.25em; 
  line-height:1em;
  
}

:lang(syr-Syrj), :lang(syc-Syrj) {
 font-family: "SertoBatnan", "Serto Batnan", Verdana, Arial, Helvetica, sans-serif;
  font-size:1.25em; 
  line-height:1em;
 
}

:lang(syr-Syre), :lang(syc-Syre) {
 font-family: "EastSyriacAdiabene", "East Syriac Adiabene", Verdana, Arial, Helvetica, sans-serif;
 font-size:1.25em; 
 line-height:1em;

}

:lang(ar) {
 font-family: arial, sans-serif;
 font-size:1.25em; 
 line-height:1em;
 
}


/* link icon styles (inline) */
#link-icons{padding:0; margin:0 0 -1em 0;}
#link-icons a {
    display:inline-block; 
    padding-right: .5em; 
    }
#link-icons > a > img {
		box-shadow: 2px 2px 2px #888888;
}

#link-icons > a > img[title~="Pleiades"] {
		border-radius: 12px;	
}

#link-icons > a > img[title~="Wikipedia"], 
#link-icons > a > img[title~="Maps"], 
#link-icons > a > img[title~="Atom"], 
#link-icons > a > img[title~="TEI"] {
		border-radius: 5px;	
}

#link-icons > a > img:hover {
		box-shadow: none;
}
.label {font-size: 1em;}

/* Helper circle for syriaca URI*/
.helper.circle {
	border: 1px solid rgb(0, 136, 204);
	border-radius: 50%;
	height: 1em;
	width: 1em;
	text-align: center;
	vertical-align: center;
    float: left;
    margin-right: 0.5em;
    box-shadow: 1px 1px 1px #888888;
}

.helper.circle:hover {
	box-shadow: none;
	cursor:help;
}
.helper.circle > p {
	color: rgb(0,136,204);
	font-size: .83em;
	position: relative;
	vertical-align: middle;
	top: -.2em;
	font-family: serif;
	font-weight: bold;
}

#sources ul {
	list-style-type: none;
	padding-left: -0.1em;
	text-indent: -1em;
}

#externals {
	margin-top: 1em;
}

dt {
	margin-top: 1.5em;
}
dd {
	margin-top: 0.5em;
}

div[id|=place] h3 {
	font-size: medium;
}
div[id|=place] > div:first-of-type {
	width: 30%;
	float: right;
	padding: 1em;
	padding-top: 0;
	background-color: #EEE;
}
div[id|=place] > div:first-of-type > h3, div[id|=place] > div:first-of-type + div > h3 {
	margin-top: 0;
	padding-top: 0;
}

div[id|=place] > div:last-of-type {
	margin-bottom: 3em;
}

#description li:first-letter {
	text-transform: capitalize;
}

.pubPlace > .placeName {
	font-weight: normal;
}

/* Search styles */

.page-bottom .hit-count {display:none;}

.match {
    font-style:italic; color:gray;
}
.param {font-weight:600; color:#666; padding-left:.5em;}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

#toggle-relation {display:none;}
#toggle-relation dd{padding-top:0; margin-top:0; }

/* styles for forms */
label.error {
  color: #B94A48; /* color to match Bootstraps error class */
}

.btn-custom {
  background-color: hsl(29, 80%, 27%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d77417", endColorstr="#7b430d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d77417), to(#7b430d));
  background-image: -moz-linear-gradient(top, #d77417, #7b430d);
  background-image: -ms-linear-gradient(top, #d77417, #7b430d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d77417), color-stop(100%, #7b430d));
  background-image: -webkit-linear-gradient(top, #d77417, #7b430d);
  background-image: -o-linear-gradient(top, #d77417, #7b430d);
  background-image: linear-gradient(#d77417, #7b430d);
  border-color: #7b430d #7b430d hsl(29, 80%, 22%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
.feedback {margin-top:1em;}

/* -- leafletjs styles -- 
.leaflet-control-layers-list {
  max-height: 350px;
  overflow: auto !important;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
}*/

.leaflet-control-layers-toggle:after{ 
    display:block;
    content:"Map options";
    font-size:small;
    color:#000 ;
    float:left;
    margin-left:3em;
}
.leaflet-control-layers-toggle{ 
    width:125px !important;
    background-position: 3px 3px !important;
    text-decoration:none;
    line-height:36px;

} 
/*
.modal {
    width: 50% !important; 
    margin-left:-25%;  
}
*/
#map {height: 200px;}
.transparent {
    /* default fallback */
    background: rgb(255, 255, 255) transparent;
    /* nice browsers */
    background: rgba(255, 255, 255, 0.8);
    
}

.citationinfo {padding:1em; color: #555; border-top:1px solid #666666; background-color:#eee; }
.preferred-citation {font-size:1.2em;}
.hint{margin:.5em; color: grey; font-style:italic;}
.uri {margin:0 0 1em; color: #999999;}
p.single-space{padding:.25em;}
.teiDocs {padding:.25em; border-bottom:1px solid #eee;}

/* Citation styles */
/*
analytic
monographic
journal
series
unpublished
*/
.title-journal, .title-monographic{font-style:italic;}


/* Facet styles */
.label-facet {background-color:#eee; color:#666; font-weight:normal; margin:.25em; display:inline-block;}
.facet-label {margin-left:.5em; display:block; text-align:left; white-space: normal;}
.facet .icon{margin-left:.25em;}

/* Manuscripts */
.msItem {margin:0 1em;}
.msExtent {display:block; margin:0 1em;}

/* API documentation */
pre code {
	line-height: 1.6em;
	font-size: 11px;
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
	max-width:inherit;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
	
.api-path {width:15%}
.api-param {width:20%}
.api-desc {width:55%}
.api-method {width:10%}

/* Dashboard styles */
.huge {font-size:2.5em;}
.dashboard  .panel-heading .glyphicon{font-size:3em; padding-top: .25em;}
#dashboardOne h4.panel-title {color:#666; font-weight:500; font-size:1.25em;}

/* TEST home page styles*/
.sub-module {
  margin: 1.5em;
  overflow:hidden;
  background:#eee; 
  padding:1em;
  width:250px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.geo { 
  border-top:10px solid #753C28;
}

  /* Popover */
  .tooltip {
      padding:1em;
      overflow:visible;
  }
  .tooltip-inner {
    padding:1em;
    padding-left:1.5em;
    overflow:visible;
    text-align:center;
    border:1px solid green;
    }

/* new search */
.mobile-submenu{display:none;}

@media screen and (max-width: 480px) {
.navbar-collapse, .dropdown-menu {float:none; width:100% !important;}
.navbar-nav li {width:100% !important; float:none;}
.mobile-submenu {
    display: block;
    float:left;
    margin-left:3em;
    }
.caret {float:left; margin-left:.5em; margin-top:.5em;}    
}