/* Application styles could go here */
/*
 * Colors: E69849 Orange
 * light grey: cccccc
 * Dark Grey #333
 * Light Grey (text): #999
 */
body {background-color:#666;}
#main {background-color:#cccccc;}

/* Main content blocks */
.navbar {border-bottom:4px solid #E69849 !important;}
.advanced-search > a {color:#999; text-decoration:none;}
.banner-interior{border-bottom:4px solid #E69849;}
.banner {background-color:#E69849; border-bottom:4px solid #E69849;}