/* Application styles could go here */
/*
 * Colors:
 * Dark green: 2A492A
 * Mid green : 315431
 * light grey: cccccc
 * Dark Grey #333
 * Light Grey (text): #999
 */
body {background-color:#666;}
#main {background-color:#cccccc;}

/* Banner styles SPEAR */
.banner-index {
	background-image:url('../img/nhsl-banner.png');
	background-position:top center;
    height:200px;
}

/* BHSE banner internal pages */
.banner-interior {
	background-image:url('../img/nhsl-banner.png');
    background-position:top center;
    height:200px;
}

.banner-solid{ background-color:#456889; border-top:4px solid #456889; padding-top:.5em;}
