/* Application styles could go here */
/*
 * Colors:
 * Violet: BCA7C4
 * light grey: cccccc
 * Dark Grey #333
 * Light Grey (text): #999
 */
body {
	font-family: arial, sans-serif;
    background-color:#666;
}

#main {background-color:#cccccc;margin:0;padding:0;}
#content {margin:40px 2.5% 0 2.5%; padding:3em; background-color:white;}

/* Main content blocks */
.navbar {
    margin:0;
    height: 50px !important; 
    background-color:white; 
    border-bottom:4px solid #BCA7C4 !important;
}
.navbar-inner {height: 50px !important; margin:0; border-bottom:.5em solid #BCA7C4 !important;}
.navbar-inner .container{height: 45px !important; padding-top:.5em; margin-left:.5em;}
.brand {margin-top:-.5em; margin-left:40px;padding-left:0;}
.brand img {margin-left:1.5em;padding-left:0;}
.navbar-inner .nav, .navbar-search {padding-top:.5em;}
.navbar-inner .nav > li > a:hover, .advanced-search > a:hover {
        border-bottom: 4px solid #BCA7C4 !important;  
        text-decoration:none;
}
.navbar-inner > .container > .nav > li.selected {border-bottom: 4px solid #E69849 !important; }
.advanced-search > a {color:#999; text-decoration:none;}
.transparent {
    /* default fallback */
    background: rgb(255, 255, 255) transparent;
    /* nice browsers */
    background: rgba(255, 255, 255, 0.8);
    
}

.citationinfo {padding:0 1em 1em; color: #555; border-top:1px solid #666666; background-color:#eee; }
#citation {display:none;}
.column2 well {border: 1px solid #ccc; padding:.5em;}
.well-white {background-color:white;padding:.5em;}

.home {margin:1em; padding:1.5em 2.5em;}
footer {margin:0 40px;padding:1px; text-align:center;}

/* Typography */
h1 {font-size:1.5em; margin:0; color:#666; font-weight:500;}
/*h2 {font-size:1.5em; margin:0 -1em; padding-left:8px; color:#E69849; font-weight:500;}*/
h2 {font-size: 1.25em; margin-top:0; margin-bottom:.2em; margin-left:0; padding-bottom:0; color:#999; font-weight:500; margin-left:0;}
h3 {font-size: 1.2em; margin-top:0; margin-bottom:.2em; padding-bottom:0; color:#333; font-weight:500; margin-left:0;}
h3.underline {color:#999; border-bottom:3px solid #E69849; padding-bottom:-.75em; margin-bottom:1em; margin-top:1em;}
h4 {font-size: 1em; margin-top:0; margin-bottom:.2em; padding-bottom:0; font-weight:bold; margin-left:0;}

.column1 h3{border-bottom:1px solid #999; padding-bottom:0; margin-bottom:1em;}
h3.label {
    background-color:#ccc;
    line-height: 1.2em;
    font-size: 2em;
    float:left;
}

h3.syr{
    margin-right:.75em;
    margin-top:.5em;
    float:right !important;
}
h4 {font-size: 1em; margin-top:1em;}
.title {border-bottom:2px solid #666666;margin-bottom:1em;}
.about {padding-top: .5em; border-bottom:2px solid #666666;margin-bottom:1em;}
.pers-label {margin:.25em; padding:.5em; background-color: #cdcdcd; color:black; font-weight:normal;}
.born-at{left: 0px; height:18px; width: 24px; background: url('/exist/apps/srophe/resources/leaflet/images/markers-plain.png') 0 0; background-repeat: no-repeat;}
.sprite
    {background-image:url('/exist/apps/srophe/resources/leaflet/images/markers-plain.png');
    background-repeat: no-repeat;
    background-size: 141px 18px;
    /*background-size:320px 160px;
    background-position:-422px -46px;*/
    background-position: 0 0;
    width:36px;
    height:18px;}
.born-at {
  background-position: -18 0;
}
.died-at {
    background-position: -14px 0;
}
.literary {
    background-position: -28px 0;
}
.relation {
    background-position: -42px 0;
}