/* Application styles could go here */
/*
 * Colors:
 * Violet: BCA7C4
 * light grey: cccccc
 * Dark Grey #333
 * Light Grey (text): #999
 */
body {background-color:#666;}
#main { padding: 0;}
.full-page {margin-top:0;}

/* Main content blocks */
.navbar {border-bottom:4px solid #861719 !important;}
.q-navbar {border-bottom:4px solid #2F4C60 !important;}
.advanced-search > a {color:#999; text-decoration:none;}

/* Typography */
h1 {color:#666; padding-top:1em;}
h1.bhse {background-color:#861719; border-bottom:4px solid #861719;}
h1.q {background-color:#A5744B; border-bottom:4px solid #2F4C60;}

h2 {color:#999;}
h3 {color:#333;}
h3.underline {color:#999; border-bottom:3px solid #861719;}
h3.label {background-color:#ccc;}

/* Backgrounds/Banners */
/* BHSE Banner home page */
.bhse-top {
    position:relative;
    margin-top:0;
    padding-top:0;
	background-image:url('../resources/img/bhse-banner-top.jpg');
	background-size:cover;
	background-position:center;
	height:250px;
    width:100%;
}
/* BHSE banner internal pages */
.bhse-top-interior {
    position:relative;
    /*margin-top:-4em;*/
    padding-top:0;
    border-bottom:4px solid #861719;
	background-image:url('../resources/img/bhse-banner-top.jpg');
	background-size:cover;
	background-position:center;
	height:150px;
    width:100%;
    overflow-x: hidden; 
} 
/* BHSE banner bottom, home page */
.bhse-bottom {
    position:relative;
    margin:0;
    padding:0;
    border-top:4px solid #861719;
    border-bottom:4px solid #861719;
	background-image:url('../resources/img/bhse-banner-bottom.jpg');
	background-size:cover;
	background-position:top center;
	height:200px;
    width:100%;
}

/* Gateway to the saints BHSE image banner*/
.bhse-saints {
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../resources/img/bhse-banner-top.jpg');
	background-size:cover;
	background-position:right center;
	height:325px;
    width:100%;
}

/* Gateway to the saints Q image banner */
.q-saints {
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../resources/img/q-banner-top.jpg');
	background-size:cover;
	background-position:bottom center;
	height:325px;
    width:100%;
}
/* Q image banner, home page*/
.q-top {
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../resources/img/q-banner-top.jpg');
	background-size:cover;
	background-position:bottom center;
	height:325px;
    width:100%;
}
/* Q image banner, interior pages */
.q-top-interior {
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../resources/img/q-banner-top.jpg');
	background-size:cover;
	background-position:top center;
	height:175px;
    width:100%;
}
/* Q image banner bottom, home page*/
.q-bottom {
    position:relative;
    margin:0;
    padding:0;
    border-top:4px solid #2F4C60;
    border-bottom:4px solid #861719;
	background-image:url('../resources/img/q-banner-bottom.jpg');
	background-size:cover;
	background-position:top center;
	height:200px;
    width:100%;
}

/* Image citation styles */
.img-credit{
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align:right;
    font-size: smaller;
    font-weight:200;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.55);
    color: white; 
    display: inline;
    padding: 0.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* Transparent styles for search box on home pages */
.transparent-input{
       color: white;
       font-size:larger;
       background-color: rgba(245, 245, 245, 0.2);
       border:3px solid white !important;
    }
.transparent-input::-webkit-input-placeholder { color: white; font-size:large;font-weight:500; }
.transparent-input:-moz-placeholder { color: white; font-size:large;font-weight:500; }
.transparent-input::-moz-placeholder { color: white; font-size:large;font-weight:500; }
.transparent-input:-ms-input-placeholder { color: white; font-size:large;font-weight:500; }

/* BHSE solid color banner */
.saints-banner-interior {background-color:#861719; padding:0; color:white; margin-bottom:1em;}
.saints-banner-interior h1 {color:white; margin-bottom:0; padding:1em 0;}
/* Q solid color banner */
.q-banner {background-color:#A5744B;margin:0; padding:1em 4em; color:white; border-top:4px solid #2F4C60;}
.q-banner-interior {background-color:#A5744B; margin:0; padding:0; color:white; margin-bottom:1em; border-top:4px solid #2F4C60;}
.q-banner-interior h1{color:white; margin-bottom:0; padding:1em 0;}
/* Gateway to the saints solid color banner */
.saints-banner {background-color:#861719;margin:0; padding:3em 4em; color:white; border-top:4px solid #861719;}
.saints-banner h1{font-size: 24px;color:white; margin-bottom:2em;}
.saints-banner h3{color:white;}
.saints-banner .container,  .q-banner .container{margin-top:1em; margin-bottom:1em;}

/* Search form */
#home_subheader_search * {
    background-color: transparent;
    color: white;
}
#bhse_search_form {
    border: 4px solid white;
    background-color: rgba(0, 0, 0, .4);
}
#bhse_search_form input, #bhse_search_form button {border:none; font-size:20px}
#bhse_search_form .form-control::-webkit-input-placeholder {font-size:20px; color: white; }
#bhse_search_form .form-control:-moz-placeholder { color: white; }
#bhse_search_form .form-control::-moz-placeholder { color: white; }
#bhse_search_form .form-control:-ms-input-placeholder { color: white; }

#bhse_search_form input[type="text"] {
    -moz-box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.content-block h2 {color:#666;}