<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Syriaca.org: The Syriac Reference Portal.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="The Syriac Gazetteer"/>
        <link rel="shortcut icon" href="/exist/apps/srophe/resources/img/syriaca.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="/exist/apps/srophe/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/exist/apps/srophe/resources/css/syriaca.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="/exist/apps/srophe/resources/css/print.css"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/jquery-1.9.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap.min.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/plugins.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/jquery.validate.min.js"/>
        <!--<script type="text/javascript" src="/exist/apps/srophe/resources/js/admin.js"/>-->
    </head>
    <body id="body">
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <div class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand brand" href="admin.html">
                    <img alt="Syriac.org" src="/exist/apps/srophe/resources/img/syriaca-logo.png"/> 
                    Admin Pages</a>
                <ul class="nav navbar-nav navbar-right pull-right">
                    <span data-template="admin:current-user"/>
                </ul>
            </div>
        </div>
        <div id="main">
            <div id="content" class="container"/>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="color:white;">
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
                        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png"/>
                    </a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                    <br/>Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.
                </div>
            </div>
        </div>
    </body>
</html>