<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="app:get-rec" coll="mss">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title data-template="app:app-title" coll="mss">A Digital Catalogue of Syriac Manuscripts in the British Library" coll="manuscripts</title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <!--<meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>-->
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="A Digital Catalogue of Syriac Manuscripts in the British Library"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Syriaca.org: The Syriac Reference Portal"/>
        <link rel="shortcut icon" href="$app-root/resources/img/syriaca.ico"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/manuscripts.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="$app-root/resources/css/print.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
        <link rel="stylesheet" href="$app-root/resources/leaflet/leaflet.awesome-markers.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
    </head>
    <body>
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="app:fix-links">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand" href="$app-root/mss/index.html">
                        <img class="img-responsive" alt="Syriac.org: MSS" src="$app-root/resources/img/icons-mss.png"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="$app-root/mss/browse.html">Browse</a>
                        </li>
                        <li>
                            <a href="$app-root/index.html" class="syriaca-sm-icon nav-icons"> Syriaca.org</a>
                        </li>
                        <!-- Shared drop-down menu of all submodules -->
                        <li data-template="app:shared-links"/>
                    </ul>
                    <form class="navbar-form navbar-right navbar-input-group" role="search" action="$app-root/mss/search.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" name="q" id="q"/>
                            <input type="hidden" id="collection" value="manuscripts"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    &#160; <span class="glyphicon glyphicon-search"/>
                                </button>
                                <a href="$app-root/mss/search.html" title="advanced search" class="btn btn-default">
                                    &#160; <span class="glyphicon glyphicon-cog"/>
                                </a>
                            </div><!-- /btn-group -->
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content" class="container well well-white"/>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
                    <img alt="Creative Commons License" style="border-width:0" src="$app-root/resources/img/cc.png" height="18px"/>
                </a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                <br/>Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.
            </div>
        </footer>
        
        <!-- Additional Javascript -->
        <script type="text/javascript" src="$app-root/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.validate.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/main.js"/>
        <script>
            var _gaq=[['_setAccount',''],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>