<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="place:get-rec">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title data-template="place:app-title">Syriaca.org: Full page map</title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Logar: Linked Open Gazetteer of the Andean Region"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="The Syriac Gazetteer"/>
        <!--<link rel="shortcut icon" href="/exist/apps/srophe/resources/img/gazetteer.ico"/>-->
        <link data-template="app:rel-links"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/map.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="$app-root/resources/css/print.css"/>
        <!--<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"/>-->
        <!-- Leaflet -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
        <link rel="stylesheet" href="$app-root/resources/leaflet/leaflet.awesome-markers.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
    </head>
    <body>
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="app:fix-links">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand" href="$app-root/index.html">
                        <img class="img-responsive" alt="Gazetteer Demo App" src="$app-root/resources/img/syriaca-logo.png"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="$app-root/geo/index.html" class="geo-sm-icon nav-icons">home</a>
                        </li>
                        <li>
                            <a href="$app-root/geo/browse.html">index</a>
                        </li>
                        <li>
                            <a href="$app-root/geo/about.html">about</a>
                        </li>
                        <li>
                            <a href="$app-root/documentation/index.html">documentation</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right navbar-input-group" role="search" action="$app-root/geo/search.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" name="q" id="q"/>
                            <input type="hidden" id="collection" value="places"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    &#160; <span class="glyphicon glyphicon-search"/>
                                </button>
                                <a href="$app-root/geo/search.html" title="advanced search" class="btn btn-default">
                                    &#160; <span class="glyphicon glyphicon-cog"/>
                                </a>
                            </div><!-- /btn-group -->
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content"/>
        </div>
        <!-- Additional Javascript -->
        <script type="text/javascript" src="$app-root/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.validate.min.js"/>
        <!-- Google analytics. Values pulled from config.xml -->
        <script data-template="app:google-analytics"/>
    </body>
</html>