<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="app:get-rec">
    <head>
        <title data-template="app:app-title">App Title</title>
        <link rel="shortcut icon" href="/exist/apps/srophe/resources/img/syriaca.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="/exist/apps/srophe/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="/exist/apps/srophe/resources/css/print.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/plugins.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"/>
    </head>
    <body id="body">
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand" href="/index.html">
                        <img alt="Syriac.org" src="/exist/apps/srophe/resources/img/syriaca-logo.png"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/geo/index.html" class="geo-sm-icon nav-icons">Gazetteer</a>
                        </li>
                        <li>
                            <a href="/persons/index.html" class="persons-sm-icon nav-icons">SBD</a>
                        </li>
                        <li>
                            <a href="/authors/index.html" class="authors-sm-icon nav-icons">Authors</a>
                        </li>
                        <li>
                            <a href="/saints/index.html" class="saints-sm-icon nav-icons">Saints</a>
                        </li>
                        <li>
                            <a href="/spear/index.html" class="spear-sm-icon nav-icons">SPEAR</a>
                        </li>
                        <li>
                            <a href="/mss/index.html" class="mss-sm-icon nav-icons">MSS</a>
                        </li>
                        <li>
                            <a href="/documentation/index.html">Documentation</a>
                        </li>
                    </ul>
                    <!-- Enable cross module searching 
                    <form class="navbar-form navbar-right navbar-input-group" role="search" action="search.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q" id="q"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"/>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <span class="btn btn-default">
                                    <a href="search.html" title="advanced search">
                                        <span class="glyphicon glyphicon-cog"/>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </form>-->
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content" class="container-fluid well well-small"/>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12 text-center" style="color:white;">
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
                        <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png"/>
                    </a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                    <br/>Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.
                </div>
            </div>
        </div>
        <!-- Additional Javascript -->
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/jquery.validate.min.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/main.js"/>
        <!-- Add google analytics code for production: UA-333143-26-->
        <script>
            var _gaq=[['_setAccount','UA-333143-26'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>