<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="person:get-rec" data-template-collection="persons">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title data-template="person:app-title">The Syriac Biographical Dictionary</title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <!--<meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>-->
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Syriaca.org: The Syriac Reference Portal"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="The Syriac Biographical Dictionary"/>
        <link data-template="app:rel-links"/>
        <link rel="shortcut icon" href="$app-root/resources/img/syriaca.ico"/>
        <link rel="stylesheet" href="$app-root/resources/css/syr-icon-fonts.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/persons.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/sm-core-css.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="$app-root/resources/css/print.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
        <link rel="stylesheet" href="$app-root/resources/leaflet/leaflet.awesome-markers.css"/>
        <!-- jquery -->
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
        <!-- temporary until migrate to bootstrap 3.0 -->
        <script type="text/javascript" src="$app-root/resources/js/jquery.min.js"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.smartmenus.min.js"/>
        <script src="https://www.google.com/recaptcha/api.js"/>
        <!-- keyboard widget css & script -->
        <link href="$app-root/resources/keyboard/css/keyboard.min.css" rel="stylesheet"/>
        <link href="$app-root/resources/keyboard/css/keyboard-previewkeyset.min.css" rel="stylesheet"/>
        <link href="$app-root/resources/keyboard/syr/syr.css" rel="stylesheet"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/jquery.keyboard.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/js/jquery.keyboard.extension-mobile.min.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/js/jquery.keyboard.extension-navigation.min.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/jquery.keyboard.extension-autocomplete.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/keyboardSupport.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/syr.js"/>
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
            })
        </script>
        
    </head>
    <body vocab="http://schema.org/">
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <!-- Fixed navbar -->
        <div data-template="app:shared-content" data-template-path="/templates/draft-info.html"/>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="app:fix-links">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand banner-container" href="$app-root/persons/index.html">
                        <span class="syriaca-icon syriaca-sbd banner-icon">
                            <span class="path1"/>
                            <span class="path2"/>
                            <span class="path3"/>
                            <span class="path4"/>
                        </span>
                        <span class="banner-text">Syriac Biographical Dictionary</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown"> Browse<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="$app-root/persons/browse.html" class="icon-container">
                                        <span class="syriaca-icon syriaca-sbd icon-nav">
                                            <span class="path1"/>
                                            <span class="path2"/>
                                            <span class="path3"/>
                                            <span class="path4"/>
                                        </span>
                                        <span class="icon-text">Browse SBD</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"/>
                                <li>
                                    <a href="$app-root/q/browse.html" class="icon-container">
                                        <span class="syriaca-icon syriaca-q icon-nav">
                                            <span class="path1"/>
                                            <span class="path2"/>
                                            <span class="path3"/>
                                            <span class="path4"/>
                                        </span>
                                        <span class="icon-text">Browse Qadishe</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"/>
                                <li>
                                    <a href="$app-root/authors/browse.html" class="icon-container">
                                        <span class="syriaca-icon syriaca-authors icon-nav">
                                            <span class="path1"/>
                                            <span class="path2"/>
                                            <span class="path3"/>
                                            <span class="path4"/>
                                        </span>
                                        <span class="icon-text">Browse Authors</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> About<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="$app-root/persons/about.html" class="icon-container">
                                        <span class="syriaca-icon syriaca-sbd icon-nav">
                                            <span class="path1"/>
                                            <span class="path2"/>
                                            <span class="path3"/>
                                            <span class="path4"/>
                                        </span>
                                        <span class="icon-text">About SBD</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"/>
                                <li>
                                    <a href="$app-root/q/about.html" class="icon-container">
                                        <span class="syriaca-icon syriaca-q icon-nav">
                                            <span class="path1"/>
                                            <span class="path2"/>
                                            <span class="path3"/>
                                            <span class="path4"/>
                                        </span>
                                        <span class="icon-text">About Qadishe</span>
                                    </a>
                                </li>
                                <li role="presentation" class="divider"/>
                                <li>
                                    <a href="$app-root/authors/about.html" class="icon-container">
                                        <span class="syriaca-icon syriaca-authors icon-nav">
                                            <span class="path1"/>
                                            <span class="path2"/>
                                            <span class="path3"/>
                                            <span class="path4"/>
                                        </span>
                                        <span class="icon-text">About Authors</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="$app-root/documentation.html">Help</a>
                        </li>
                        <li>
                            <a href="$app-root/persons/contribute.html">Contribute</a>
                        </li>
                        -->
                        <li>
                            <a href="$app-root/index.html" class="icon-container">
                                <span class="syriaca-icon syriaca-syriaca icon-nav">
                                    <span class="path1"/>
                                    <span class="path2"/>
                                    <span class="path3"/>
                                    <span class="path4"/>
                                </span>
                                <span class="icon-text">Syriaca.org</span>
                            </a>
                        </li>                        
                        <!-- Shared drop-down menu of all submodules -->
                        <li data-template="app:shared-content" data-template-path="/templates/shared-links.html"/>
                    </ul>
                    <form class="navbar-form navbar-right navbar-input-group" role="search" action="$app-root/persons/search.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" name="q" id="q"/>
                            <input type="hidden" id="collection" value="persons"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    &#160; <span class="glyphicon glyphicon-search"/>
                                </button>
                                <a href="$app-root/persons/search.html" class="btn btn-default">
                                    <span class="glyphicon glyphicon-cog"/>&#160;<small>Search Tools</small>
                                </a>
                                <span class="btn btn-default" id="q-keyboard">
                                    <span class="syriaca-icon syriaca-keyboard"/>
                                    <span class="glyphicon icon-keyboard-wireless"/>&#160;<small>Keyboard</small>
                                </span>
                            </div><!-- /btn-group -->
                            <script type="text/javascript">
                                $(function(){
                	               initializeKeyboard('#q', 'syriac-standard', '#q-keyboard');
                	               });
                   	        </script>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content" typeof="Person"/>
        </div>
        <!-- Footer -->
        <footer data-template="app:shared-content" data-template-path="/templates/footer.html"/>
        
        <!-- Additional Javascript -->
        <script type="text/javascript" src="$app-root/resources/js/jquery.validate.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/main.js"/>
        <!-- Google analytics. Values pulled from config.xml -->
        <script data-template="app:google-analytics"/>
    </body>
</html>