<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Syriaca.org: The Syriac Prosopography</title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <!--<meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>-->
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Syriaca.org"/>
        <link rel="shortcut icon" href="/exist/apps/srophe/resources/img/syriaca.ico"/>
        <link rel="stylesheet" type="text/css" href="/exist/apps/srophe/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/exist/apps/srophe/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="/exist/apps/srophe/resources/css/persons.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="/exist/apps/srophe/resources/css/print.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
        <link rel="stylesheet" href="/exist/apps/srophe/resources/leaflet/leaflet.awesome-markers.css"/>
        <!-- temporary until migrate to bootstrap 3.0 -->
        <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"/>
        <script src="http://isawnyu.github.com/awld-js/lib/requirejs/require.min.js" type="text/javascript"/>
        <script src="http://isawnyu.github.com/awld-js/awld.js?autoinit" type="text/javascript"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"/>
    </head>
    <body>
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img alt="Syriac.org: Persons" src="/exist/apps/srophe/resources/img/icons-persons.png"/>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                home <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation">
                                    <a href="/person/index.html">Persons home</a>
                                </li>
                                <li role="presentation" class="divider"/>
                                <li role="presentation">
                                    <a href="/geo/index.html">Gazetteer home</a>
                                </li>
                                <li role="presentation" class="divider"/>
                                <li role="presentation">
                                    <a href="/index.html">Syriaca.org home</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="browse.html">index</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right navbar-input-group" role="search" action="search.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q" id="q"/>
                            <input type="hidden" id="collection" value="persons"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"/>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <span class="btn btn-default">
                                    <a href="search.html" title="advanced search">
                                        <span class="glyphicon glyphicon-cog"/>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content" class="container well well-white"/>
        </div>
        <!-- Footer -->
        <footer>
            <div class="container">
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
                    <img alt="Creative Commons License" style="border-width:0" src="/exist/apps/srophe/resources/img/cc.png" height="18px"/>
                </a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
                <br/>Copyright Vanderbilt University, Princeton University, and the Contributor(s), 2014.
            </div>
        </footer>
        
        <!-- Additional Javascript -->
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/jquery.validate.min.js"/>
        <script type="text/javascript" src="/exist/apps/srophe/resources/js/main.js"/>
        <script>
            var _gaq=[['_setAccount',''],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>