<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="app:get-rec">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Gateway to the Syriac Saints</title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <!--<meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>-->
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Syriaca.org: The Syriac Reference Portal"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="The Syriac Prosopography"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Qadishē: Guide to the Syriac Saints"/>
        <link data-template="app:rel-links"/>
        <link rel="shortcut icon" href="$app-root/resources/img/syriaca.ico"/>
        <link rel="stylesheet" href="$app-root/resources/css/syr-icon-fonts.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/saints.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/sm-core-css.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="$app-root/resources/css/print.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
        <link rel="stylesheet" href="$app-root/resources/leaflet/leaflet.awesome-markers.css"/>
        <!-- temporary until migrate to bootstrap 3.0 -->
        <!-- JQuery -->
        <script type="text/javascript" src="$app-root/resources/js/jquery-1.9.1.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.smartmenus.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/clipboard.min.js"/>
    </head>
    <body vocab="http://schema.org/">
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <!-- Fixed navbar -->
        <div data-template="app:shared-content" data-template-path="/templates/draft-info.html"/>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="app:fix-links">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand banner-container" href="$app-root/saints/index.html">
                        <span class="syriaca-icon syriaca-saints banner-icon">
                            <span class="path1"/>
                            <span class="path2"/>
                            <span class="path3"/>
                            <span class="path4"/>
                        </span>
                        <span class="banner-text">Gateway to the Syriac Saints</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="$app-root/q/index.html" class="icon-container">
                                <span class="syriaca-icon syriaca-q icon-nav">
                                    <span class="path1"/>
                                    <span class="path2"/>
                                    <span class="path3"/>
                                    <span class="path4"/>
                                </span>
                                <span class="icon-text">Qadishe</span>
                            </a>
                        </li>
                        <li>
                            <a href="$app-root/bhse/index.html" class="icon-container">
                                <span class="syriaca-icon syriaca-bhse icon-nav">
                                    <span class="path1"/>
                                    <span class="path2"/>
                                    <span class="path3"/>
                                    <span class="path4"/>
                                </span>
                                <span class="icon-text">BHSE</span>
                            </a>
                        </li>
                        <li>
                            <a href="$app-root/index.html" class="icon-container">
                                <span class="syriaca-icon syriaca-syriaca icon-nav">
                                    <span class="path1"/>
                                    <span class="path2"/>
                                    <span class="path3"/>
                                    <span class="path4"/>
                                </span>
                                <span class="icon-text">Syriaca.org</span>
                            </a>
                        </li>
                        <!-- Shared drop-down menu of all submodules -->
                        <li data-template="app:shared-content" data-template-path="/templates/shared-links.html"/>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content" typeof="Person"/>
        </div>
        <!-- Footer -->
        <footer data-template="app:shared-content" data-template-path="/templates/footer.html"/>
        
        <!-- Additional Javascript -->
        <script type="text/javascript" src="$app-root/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.validate.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/main.js"/>
        <!-- Google analytics. Values pulled from config.xml -->
        <script data-template="app:google-analytics"/>
    </body>
</html>