<?xml version="1.0" encoding="UTF-8"?>
<li xmlns="http://www.w3.org/1999/xhtml" class="dropdown">
    <a href="#" class="dropdown-toggle lonely-caret" data-toggle="dropdown">
        <span class="mobile-submenu">Publications</span> &#160;<b class="caret"/>
    </a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="$app-root/geo/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-geo icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">Gazetteer</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/persons/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-sbd icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">SBD</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/authors/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-authors icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">Authors</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/saints/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-saints icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">Gateway to the Saints</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/q/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-q icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">Qadishe</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/bhse/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-bhse icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">BHSE</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/nhsl/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-nhsl icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">NHSL</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/spear/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-spear icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">SPEAR</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/mss/index.html" class="icon-container">
                <span class="syriaca-icon syriaca-mss icon-nav">
                    <span class="path1"/>
                    <span class="path2"/>
                    <span class="path3"/>
                    <span class="path4"/>
                </span>
                <span class="icon-text">MSS</span>
            </a>
        </li>
        <li role="presentation" class="divider"/>
        <li>
            <a href="$app-root/documentation/index.html">
                <span class="syriaca-icon syriaca-book icon-nav"/>
                <span class="icon-text">Documentation</span>
            </a>
        </li>
    </ul>
</li>