<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="spear:get-rec" data-template-collection="spear">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title data-template="app:app-title" coll="spear">SPEAR</title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <!--<meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>-->
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Syriaca.org: The Syriac Reference Portal"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="A Digital Catalogue of Syriac Manuscripts in the British Library"/>
        <link data-template="app:rel-links"/>
        <link rel="shortcut icon" href="$app-root/resources/img/syriaca.ico"/>
        <link rel="stylesheet" href="$app-root/resources/css/syr-icon-fonts.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/spear.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/sm-core-css.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="$app-root/resources/css/print.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
        <link rel="stylesheet" href="$app-root/resources/leaflet/leaflet.awesome-markers.css"/>
        <!-- jquery -->
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
        <!-- temporary until migrate to bootstrap 3.0 -->
        <script type="text/javascript" src="$app-root/resources/js/jquery.min.js"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.smartmenus.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/clipboard.min.js"/>
        <script src="https://www.google.com/recaptcha/api.js"/>
        <!-- keyboard widget css & script -->
        <link href="$app-root/resources/keyboard/css/keyboard.min.css" rel="stylesheet"/>
        <link href="$app-root/resources/keyboard/css/keyboard-previewkeyset.min.css" rel="stylesheet"/>
        <link href="$app-root/resources/keyboard/syr/syr.css" rel="stylesheet"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/jquery.keyboard.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/js/jquery.keyboard.extension-mobile.min.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/js/jquery.keyboard.extension-navigation.min.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/jquery.keyboard.extension-autocomplete.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/keyboardSupport.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/syr/syr.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/layouts/ms-Greek.min.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/layouts/ms-Russian.min.js"/>
        <script type="text/javascript" src="$app-root/resources/keyboard/layouts/ms-Arabic.min.js"/>
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip({ container: 'body' })
                <![CDATA[
                $('.keyboard').keyboard({
                    openOn: null,
                    stayOpen: false,
                    alwaysOpen: false,
                    autoAccept: true,
                    usePreview: false,
                    initialFocus: true,
                    rtl : true,
                    layout: 'syriac-phonetic'
                });
                
                $('.keyboard-select').click(function () {
                    var keyboardID = '#' + $(this).data("keyboard-id")
                    var kb = $(keyboardID).getkeyboard();
                    //var kb = $('#searchField').getkeyboard();
                    // change layout based on link ID
                    if(this.id === 'syriac-standard') {
                        kb.options.layout = 'syriac-standard'
                    }else if(this.id === 'ms-Arabic'){
                        kb.options.layout = 'ms-Arabic (101)'
                    }else if(this.id === 'ms-Greek'){
                        kb.options.layout = 'ms-Greek'
                    }else if(this.id === 'ms-Russian'){
                        kb.options.layout = 'ms-Russian'
                    }else {
                        kb.options.layout = 'syriac-phonetic'
                    }                    
                    // open keyboard if layout is different, or time from it last closing is > 200 ms
                    if (kb.last.layout !== kb.options.layout || (new Date().getTime() - kb.last.eventTime) > 200) {
                        kb.reveal();
                    }
                });
                ]]>
            })
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <!-- Fixed navbar -->
        <div data-template="app:shared-content" data-template-path="/templates/draft-info.html"/>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="app:fix-links">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand banner-container" href="$app-root/spear/index.html">
                        <span class="syriaca-icon syriaca-spear banner-icon">
                            <span class="path1"/>
                            <span class="path2"/>
                            <span class="path3"/>
                            <span class="path4"/>
                        </span>
                        <span class="banner-text">SPEAR: Syriac Persons Events and Relations</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="$app-root/spear/browse.html" class="nav-text">Browse</a>
                        </li>
                        <li>
                            <a href="$app-root/index.html" class="icon-container">
                                <span class="syriaca-icon syriaca-syriaca icon-nav">
                                    <span class="path1"/>
                                    <span class="path2"/>
                                    <span class="path3"/>
                                    <span class="path4"/>
                                </span>
                                <span class="icon-text">Syriaca.org</span>
                            </a>
                        </li>
                        <!-- Shared drop-down menu of all submodules -->
                        <li data-template="app:shared-content" data-template-path="/templates/shared-links.html"/>
                    </ul>
                    <ul class="nav navbar-nav navbar-right keboard-btn">
                        <li>
                            <div class="btn-nav">
                                <a class="btn btn-default navbar-btn dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Select Keyboard">
                                    &#160;<span class="syriaca-icon syriaca-keyboard">&#160; </span>
                                    <span class="caret"/>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="keyboard-select" id="syriac-standard" data-keyboard-id="q">Syriac Standard</a>
                                    </li>
                                    <li>
                                        <a href="#" class="keyboard-select" id="syriac-phonetic" data-keyboard-id="q">Syriac Phonetic</a>
                                    </li>
                                    <li>
                                        <a href="#" class="keyboard-select" id="ms-Arabic" data-keyboard-id="q">Arabic</a>
                                    </li>
                                    <li>
                                        <a href="#" class="keyboard-select" id="ms-Greek" data-keyboard-id="q">Greek</a>
                                    </li>
                                    <li>
                                        <a href="#" class="keyboard-select" id="ms-Russian" data-keyboard-id="q">Russian</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right navbar-input-group" role="search" action="$app-root/spear/search.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control keyboard" placeholder="search" name="q" id="q"/>
                            <input type="hidden" id="collection" value="spear"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" data-toggle="tooltip" title="Search" data-placement="bottom">
                                    &#160; <span class="glyphicon glyphicon-search"/>
                                </button>
                                <a href="$app-root/spear/search.html" class="btn btn-default" data-toggle="tooltip" title="Search Tools" data-placement="bottom">
                                    <span class="glyphicon glyphicon-cog" data-toggle="tooltip"/>&#160;<!--<small>Search Tools</small>-->
                                </a>
                            </div><!-- /btn-group -->
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content"/>
        </div>
        <!-- Footer -->
        <footer data-template="app:shared-content" data-template-path="/templates/footer.html"/>
        
        <!-- Additional Javascript -->
        <script type="text/javascript" src="$app-root/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.validate.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/main.js"/>
        <!-- Google analytics. Values pulled from config.xml -->
        <script data-template="app:google-analytics"/>
    </body>
</html>