<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" data-template="spear:get-rec" data-template-collection="spear">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title data-template="app:app-title" coll="spear">SPEAR</title>
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
        <!--<meta name="DC.subject" property="dc.subject" content="Geography, Ancient"/>-->
        <meta name="DC.type" property="dc.type" content="Text"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="Syriaca.org: The Syriac Reference Portal"/>
        <meta name="DC.isPartOf" property="dc.ispartof" content="A Digital Catalogue of Syriac Manuscripts in the British Library"/>
        <link data-template="app:rel-links"/>
        <link rel="shortcut icon" href="$app-root/resources/img/syriaca.ico"/>
        <link rel="stylesheet" href="$app-root/resources/css/syr-icon-fonts.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/spear.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/sm-core-css.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="$app-root/resources/css/print.css"/>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
        <link rel="stylesheet" href="$app-root/resources/leaflet/leaflet.awesome-markers.css"/>
<!--        <script type="text/javascript" src="$app-root/resources/js/jquery-1.9.1.min.js"/> -->
        <script type="text/javascript" src="$app-root/resources/js/jquery.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.smartmenus.min.js"/>
        <script src="https://www.google.com/recaptcha/api.js"/>
    </head>
    <body>
        <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
        <!-- Fixed navbar -->
        <footer data-template="app:shared-content" data-template-path="/templates/draft-info.html"/>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-template="app:fix-links">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                    <a class="navbar-brand banner-container" href="$app-root/spear/index.html">
                        <span class="syriaca-icon syriaca-spear banner-icon">
                            <span class="path1"/>
                            <span class="path2"/>
                            <span class="path3"/>
                            <span class="path4"/>
                        </span>
                        <span class="banner-text">SPEAR: Syriac Persons Events and Relations</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse pull-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="$app-root/spear/browse.html">Browse</a>
                        </li>
                        <li>
                            <a href="$app-root/index.html" class="icon-container">
                                <span class="syriaca-icon syriaca-syriaca icon-nav">
                                    <span class="path1"/>
                                    <span class="path2"/>
                                    <span class="path3"/>
                                    <span class="path4"/>
                                </span>
                                <span class="icon-text">Syriaca.org</span>
                            </a>
                        </li>
                        <!-- Shared drop-down menu of all submodules -->
                        <li data-template="app:shared-content" data-template-path="/templates/shared-links.html"/>
                    </ul>
                    <form class="navbar-form navbar-right navbar-input-group" role="search" action="$app-root/spear/search.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" name="q" id="q"/>
                            <input type="hidden" id="collection" value="spear"/>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    &#160; <span class="glyphicon glyphicon-search"/>
                                </button>
                                <a href="$app-root/spear/search.html" title="advanced search" class="btn btn-default">
                                    &#160; <span class="glyphicon glyphicon-cog"/>
                                </a>
                            </div><!-- /btn-group -->
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main">
            <div id="content"/>
        </div>
        <!-- Footer -->
        <footer data-template="app:shared-content" data-template-path="/templates/footer.html"/>
        
        <!-- Additional Javascript -->
        <script type="text/javascript" src="$app-root/resources/js/bootstrap.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery.validate.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/main.js"/>
        <!-- Google analytics. Values pulled from config.xml -->
        <script data-template="app:google-analytics"/>
    </body>
</html>