<div xmlns="http://www.w3.org/1999/xhtml" class="draft-info no-print">
    <div class="corner-ribbon top-left sticky grey shadow">DRAFT <button class="btn btn-link white-link" data-toggle="collapse" data-target="#draft-info">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"/>
        </button>
        <br/>Not for citation.
    </div>
    <div id="draft-info" class="collapse grey shadow small">
        You are viewing a page on the <br/> 
        Syriaca.org development server:<br/>
        <i>Not for citation.</i>
    </div>
</div>